services:
  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=commerce-core
      - POSTGRES_USER=db
      - POSTGRES_PASSWORD=123
    ports:
      - '5452:5432'
    volumes:
      - db:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
    networks:
      - backend
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]


  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: commerce_core_api
    mem_limit: 128m
    cpu_count: 1
    ports:
      - 9004:9002
      - 8080:8080
    depends_on:
      - db
    networks:
      - backend
    environment:
      GOMEMLIMIT: "90MiB"
      GOGC: 100
      COMMERCE_DB_POSTGRES_HOST: "db"
      COMMERCE_DB_POSTGRES_PORT: "5432"
      COMMERCE_DB_POSTGRES_DATABASE: "commerce-core"
      COMMERCE_DB_POSTGRES_USER: "db"
      COMMERCE_DB_POSTGRES_PASSWORD: 123
  otel-collector:
    image: jaegertracing/all-in-one:latest
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    networks:
      - backend
      - public_network
    ports:
      - "4318:4318"
      - "16686:16686"

volumes:
  db:
    driver: local

networks:
  backend:
  public_network:
    driver: bridge